<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bone1_10.swf/0000</key>
            <dict>
                <key>frame</key>
                <string>{{16,55},{5,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,10}}</string>
                <key>sourceSize</key>
                <string>{5,10}</string>
            </dict>
            <key>bone1_11.swf/0000</key>
            <dict>
                <key>frame</key>
                <string>{{16,55},{5,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,10}}</string>
                <key>sourceSize</key>
                <string>{5,10}</string>
            </dict>
            <key>bone1_12.swf/0000</key>
            <dict>
                <key>frame</key>
                <string>{{16,55},{5,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,10}}</string>
                <key>sourceSize</key>
                <string>{5,10}</string>
            </dict>
            <key>bone1_13.swf/0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{5,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,14}}</string>
                <key>sourceSize</key>
                <string>{5,14}</string>
            </dict>
            <key>bone1_14.swf/0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{5,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,14}}</string>
                <key>sourceSize</key>
                <string>{5,14}</string>
            </dict>
            <key>bone1_15.swf/0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{5,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,14}}</string>
                <key>sourceSize</key>
                <string>{5,14}</string>
            </dict>
            <key>bone1_18.swf/0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{5,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,18}}</string>
                <key>sourceSize</key>
                <string>{5,18}</string>
            </dict>
            <key>bone1_19.swf/0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,23},{5,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,19}}</string>
                <key>sourceSize</key>
                <string>{5,19}</string>
            </dict>
            <key>bone1_20.swf/0000</key>
            <dict>
                <key>frame</key>
                <string>{{9,48},{5,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,20}}</string>
                <key>sourceSize</key>
                <string>{5,20}</string>
            </dict>
            <key>bone1_21.swf/0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,16},{5,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,21}}</string>
                <key>sourceSize</key>
                <string>{5,21}</string>
            </dict>
            <key>bone1_22.swf/0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,9},{5,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,22}}</string>
                <key>sourceSize</key>
                <string>{5,22}</string>
            </dict>
            <key>bone1_26.swf/0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{5,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,26}}</string>
                <key>sourceSize</key>
                <string>{5,26}</string>
            </dict>
            <key>bone1_30.swf/0000</key>
            <dict>
                <key>frame</key>
                <string>{{25,16},{5,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,30}}</string>
                <key>sourceSize</key>
                <string>{5,30}</string>
            </dict>
            <key>bone1_32.swf/0000</key>
            <dict>
                <key>frame</key>
                <string>{{25,16},{5,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,30}}</string>
                <key>sourceSize</key>
                <string>{5,30}</string>
            </dict>
            <key>bone1_7.swf/0000</key>
            <dict>
                <key>frame</key>
                <string>{{9,55},{5,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,7}}</string>
                <key>sourceSize</key>
                <string>{5,7}</string>
            </dict>
            <key>bone1_8.swf/0000</key>
            <dict>
                <key>frame</key>
                <string>{{9,55},{5,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,7}}</string>
                <key>sourceSize</key>
                <string>{5,7}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bone1.png</string>
            <key>size</key>
            <string>{32,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b851b8ea70f2a710158cf587aeed1aa1$</string>
            <key>textureFileName</key>
            <string>bone1.png</string>
        </dict>
    </dict>
</plist>
